/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    /* Style */
    background-color: cadetblue;
}
header h1 {
    /* Style */
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}

#carousel{
    /* Style */
    background-color: whitesmoke;
    /* Spacing and Dimensions*/
    height: 375px;
    width: 600px;
    /* Position */
    margin: 30px auto;   
    /* Flex Settings */
    display: flex;
}


#carousel .previous_image,
#carousel .next_image{
    /* Style */
    background-color: tomato;
    font-size: 2.2rem;
    color: #000a;
    /* Spacing and Dimensions */
    width: 25px;
    /* Flex Settings */
    display: flex;
    align-items: center;
    justify-content: center;

}

#carousel .image_slider{
    width: calc(100% - 50px);
}

#carousel .image_slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}







